.main-body {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr; 
	grid-template-areas: 
	"about"
	"page1"
	"page2"
}

/*where is this prop?*/
.sections {
	overflow-y:scroll;
	scroll-behavior:smooth;
}

.about_container {
	grid-area: "about";
}

.about_title {
	padding : 1rem;
}
.about_style {
	padding : 0.5rem;
}

.nui_container {
	grid-area: "page1";
}

.nui_title {
	padding : 1rem;
}
.nui_style {
	padding : 2rem;
}

.nui_image {
	display:absolute;
}

.other_container {
	grid-area: "page2";
	justify-content: space-between;
}

.other_title {
	padding : 1rem;
}
.other_style {
	padding : 2rem;
}

.other_image {
	display:absolute;
}






.image_icon {
	display:absolute;

}


@media screen and (max-width: 960px) {
	.image_icon {
		display:none;
	}
}