.main-body {
	display: grid;
	grid-template-rows: 25% 25% auto; 
	grid-template-areas: 
	"about"
	"page1"
	"page2"
}



/*where is this prop?*/
.sections {
	overflow-y:scroll;
	scroll-behavior:smooth;
}

.about_container {
	grid-area: "about";

	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 15% 85%;
	grid-template-areas: 
	"title1 title2"
	"text img";

}

.about_title {
	padding : 1rem;
	grid-area: "title1";
}
.about_style {
	padding : 0.5rem;
	grid-area: text;
	align-self: top;

}

.about_image {
	grid-area: "img";
	display: grid;
	grid-template-columns: 1px 1px;
}



.nui_container {
	grid-area: "page1";

	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 15% 85%;
	grid-template-areas: 
	".. title2"
	"image text";

}

.nui_title {
	grid-area: title2;
	padding-top : 2rem;
	text-align: center;

}
.nui_style {
	grid-area: text;
	padding : 2rem;
	text-align: center;
}

.nui_image {
	grid-area: 'image';
}

.other_container {
	grid-area: "page2";

}

.other_title {
	padding : 1rem;
	grid-row: 1;
}
.p1 > div{
	grid-row: 2;
	padding : 2rem;
	background: #eee;
}
.p1 > div:nth-child(odd){
	background: #ddd;
}

.other_image {
	display:absolute;
}









@media screen and (max-width: 960px) {
	.image_icon {
		display:none;
	}
}