.sections {
	overflow-y:scroll;
	scroll-behavior:smooth;
}
.about_title {
	padding : 1rem;
}
.about_style {
	padding : 0.5rem;
}


.nui_title {
	padding : 1rem;
}
.nui_style {
	padding : 2rem;
}

.nui_image {
	display:absolute;
}


.image_icon {
	display:absolute;

}


@media screen and (max-width: 960px) {
	.image_icon {
		display:none;
	}
}